.fade__left {
    transform: translateX(-100%);
    animation: fade__left 0.8s ease-in-out normal;
}
@keyframes fade__left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
.fade__right {
    transform: translateX(100%);
    animation: fade__right 0.8s ease-in-out normal;
}
@keyframes fade__right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
.fade__up {
    transform: translateY(100%);
    animation: fade__up 0.8s ease-in-out normal;
}
@keyframes fade__up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.fade__down {
    transform: translateY(-100%);
    animation: fade__down 0.8s ease-in-out normal;
}
@keyframes fade__down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
